@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
  max-width: 700px;
  position: relative;
  min-height: 80vh;
}

.nav-header{
  padding-top: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 700px;
  z-index: 2;
  background-color: #fff;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.9);
}

.header-logo{
  height: auto;
}
.home-page-section{
  max-width: 500px;
}

.page-section{
  padding-bottom: 60px; /* Height of the footer */
}
.search-textarea {
  resize: none;
}


footer {
  position: absolute;
  bottom: 0;
  height: 60px; /* Height of the footer */
  width: 100%;
  max-width: 700px;
  text-align: center;
}