@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
  max-width: 700px;
}

.nav-header{
  padding-top: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 700px;
  z-index: 2;
  background-color: #fff;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.9);
}

.nav-div{
  border-bottom:1px solid #fafafa;
}

.home-page-section{
  max-width: 500px;
}

.search-textarea {
  resize: none;
}